[Unit]
Description=Mirador Email Watcher for %i
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/mirador watch %i
Restart=on-failure
RestartSec=60
Environment=RUST_LOG=info

[Install]
WantedBy=graphical-session.target
