[manager]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse   = true
sort_dir_first = false
linemode       = "size"
ratio          = [1, 3, 4]

[preview]
tab_size   = 2
max_width  = 1000
max_height = 1000

[opener]
edit = [
	{ exec = '$EDITOR "$@"', block = true },
	{ exec = '$EDITOR "$@"',    orphan = true },
]
play = [
	{ exec = 'mpv "$@"' },
	{ exec = 'iina "$@"' },
	{ exec = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" }
]
archive = [
	{ exec = 'unar "$1"', desc = "Extract here" },
]

[open]
rules = [
	{ name = "*/", use = [ "open", "edit", "reveal" ] },

	{ mime = "text/*",  use = [ "edit", "reveal" ] },
	{ mime = "image/*", use = [ "open", "reveal" ] },
	{ mime = "video/*", use = [ "play", "reveal" ] },
	{ mime = "audio/*", use = [ "play", "reveal" ] },
	{ mime = "inode/x-empty", use = [ "edit", "reveal" ] },

	{ mime = "application/json", use = [ "edit", "reveal" ] },
	{ mime = "*/javascript",     use = [ "edit", "reveal" ] },

	{ mime = "application/zip",             use = [ "extract", "reveal", "archive" ] },
	{ mime = "application/gzip",            use = [ "extract", "reveal", "archive" ] },
	{ mime = "application/x-tar",           use = [ "extract", "reveal", "archive" ] },
	{ mime = "application/x-bzip",          use = [ "extract", "reveal", "archive" ] },
	{ mime = "application/x-bzip2",         use = [ "extract", "reveal", "archive" ] },
	{ mime = "application/x-7z-compressed", use = [ "extract", "reveal", "archive" ] },
	{ mime = "application/x-rar",           use = [ "extract", "reveal", "archive" ] },

	{ mime = "*", use = [ "open", "reveal" ] },
]
